.board-index {
	background: url(../images/banner.jpg) no-repeat left;
	width: 100%;
	height: 100vh;
	background-size: cover;
	position: relative;
	display: flex;
}
.board-index:before {
	position: absolute;
	content: "";
	left: 0;
	width: 50%;
	background: rgba(89, 79, 78, 0.81);
	height: 100%;
	top: 0;
}
.board-index:after {
	position: absolute;
	content: "";
	right: 0;
	width: 50%;
	background: rgba(5, 190, 211, 0.93);
	height: 100%;
	top: 0;
}
.board-content {
	z-index: 999;
	position: relative;
	width: 100%;
	align-self: center;
	justify-content: center;
}
.home-headline {
	text-align: left;
	z-index: 999;
	padding: 0 60px;
}
.home-headline h2 {
	font-size: 30px;
	line-height: 40px;
	font-family: "Lato", sans-serif;
	color: #fff;
	font-weight: 700;
	padding-bottom: 30px;
}
.home-headline p {
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	font-family: "Lato", sans-serif;
	padding-bottom: 10px;
	font-weight: 400;
	padding-bottom: 30px;
}
.home-headline a.btn:hover {
	background: transparent;
	color: #bf2d46;
}
.board-content .input-group {
	display: block;
}
.input-group .emailfield {
	background: transparent;
	padding: 0 18px;
	font-size: 18px;
	outline: none;
	border-radius: 2px !important;
	width: 100%;
	height: 55px;
	float: left;
	margin: 0;
	font-weight: 300;
	border: 0;
	color: #fff;
	position: relative;
	box-shadow: none;
	border: 1px solid #fff;
}
.input-group .emailfield::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fff;
}
.input-group .emailfield::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff;
}
.input-group .emailfield:-ms-input-placeholder {
	/* IE 10+ */
	color: #fff;
}
.input-group .emailfield:-moz-placeholder {
	/* Firefox 18- */
	color: #fff;
}
.bottom-footer {
	position: absolute;
	z-index: 999;
	width: 100%;
	bottom: 25px;
}

/*
Header
=========================== */
.navigation {
	position: absolute;
	width: 100%;
	z-index: 9999;
}
.logo {
	float: left;
}
.logo img {
	width: 200px;
}
.navmenu {
	float: right;
	text-align: right;
}
.navmenu .nav {
	display: inline-block;
}
.navmenu li {
	display: inline-block;
	position: relative;
	padding: 12px;
}
.navmenu li a,
.navmenu li a:focus {
	display: block;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	padding: 0;
	line-height: 22px;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-family: "Lato", sans-serif;
	text-decoration: none;
}
.navmenu .active a,
.navmenu .active a:hover,
.navmenu .active a:focus,
.navmenu li a:hover {
	background: none;
	color: #e72b4c;
}
.navmenu li a:after {
	content: "";
	position: absolute;
	width: 75%;
	height: 2px;
	bottom: -3px;
	right: 0;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	margin: 0 auto;
}
.navmenu li a:hover:after,
.navmenu li a:focus:after,
.navmenu li.active a:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
/*-------sign-in-popup------*/
.create-form.sign-field {
	padding: 0;
}

.create-form.sign-field img.delta-logo {
	padding-bottom: 50px;
}
.return-step.sign-in .fild-recrd p {
	font-size: 20px;
}
.create-form.sign-field a.forgot {
	text-decoration: underline;
	color: #000;
	font-size: 18px;
	font-weight: 400;
	width: 100%;
	display: inline-block;
	padding-top: 20px;
}
