@import '_partials/_offers.css';
.weekDays-selector input {
	display: none !important;
}

.weekDays-selector input[type="checkbox"] + label,
.weekDays-selector input[type="radio"] + label {
	display: inline-block;
	border-radius: 50%;
	background: #dddddd;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.weekDays-selector input[type="checkbox"]:checked + label,
.weekDays-selector input[type="radio"]:checked + label {
	background: #cc0057;
	color: #ffffff;
}

.top-header {
	padding: 15px 0;
}
.top-header .sb-logo-title {
	font-size: 28px;
	color: #000;
	font-style: normal;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	padding: 0;
}
.top-header .listing-navigation {
	display: flex;
	align-items: center;
	margin: 0;
}
.top-header .listing-navigation li {
	display: inline-flex;
	margin-right: 20px;
}
.top-header .listing-navigation li a {
	color: #57616b;
	font-weight: 600;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	line-height: 24px;
}
.top-header .listing-navigation li.active a {
	color: #00b3ce;
}
.icons-slide {
	display: flex;
	align-items: center
}
.icons-slide .drop_dn {
	display: inline-block;
	vertical-align: middle;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	color: #616161;
	text-decoration: none;
	font-weight: 300;
	line-height: 20px;
}
.dropdown-menu ul {
	position: relative;
	margin: 0;
	max-height: 350px;
	overflow-y: auto;
}
.dropdown-menu ul li {
	position: relative;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #8b8e9c;
	padding: 3px 0;
}

.dropdown-menu ul li a i {
	font-size: 15px;
	line-height: 20px;
	display: inherit;
	display: inline-block;
}
.dropdown-menu ul li a span {
	display: inline-block;
	padding-left: 12px;
}

.message-pop.profile .dropdown-menu {
	left: -185px;
	width: 210px;
	background: #7b7d89;
}
.message-pop.profile .dropdown-menu .shw-msg:before {
	color: #7b7d89;
}
.dropdown-menu li a {
	width: 100%;
	display: block;
	padding: 10px 0;
	color: #fff;
}
.dropdown-menu li:nth-last-child(1) {
	border: 0;
}

.top-header .chat-notc {
	display: inline-block;
	vertical-align: middle;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	color: #616161;
	text-decoration: none;
	font-weight: 300;
	line-height: 20px;
}
.message-pop {
	margin-right: 15px;
	display: inline-block;
	position: relative;
}
.message-pop:last-of-type {
	margin: 0;
}
.message-pop .dropdown-menu {
	position: absolute;
	min-width: 100px;
	width: 320px;
	left: -290px;
	background: #fecd44;
	border-radius: 3px;
	border: 0;
	padding: 15px;
	top: 35px;
}
.message-pop .shw-msg {
	position: relative;
}
.message-pop .shw-msg:before {
	position: absolute;
	content: "\f0d8";
	font-family: FontAwesome;
	right: 0px;
	top: -36px;
	font-size: 23px;
	color: #fecd44;
}
.message-pop .shw-msg p {
	color: #424242;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
}
.message-pop .shw-msg a {
	text-decoration: underline;
}
.message-pop i {
	font-size: 18px;
	line-height: 24px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	display: flex;
	align-items: stretch;
}

.sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #7b7d89;
	color: #fff;
	transition: all 0.3s;
	padding: 20px;
	position: relative;
}
.specier-name {
	display: inline-block;
}
.specier-name h5 {
	color: #c3c6cf;
	font-weight: 600;
	font-family: "Lato", sans-serif;
	font-size: 22px;
}
.sidebar.active {
	min-width: 80px;
	max-width: 80px;
	text-align: center;
}

.close-btn {
	position: relative;
	padding: 10px 0;
	float: right;
}

.close-btn:before {
	content: "\f1de";
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 20px;
	font-family: "FontAwesome";
}

.sidebar.active .close-btn:before {
	content: "\f0c9";
	left: 0;
	right: 0;
}

.sidebar ul li {
	display: inline-block;
	width: 100%;
}

.sidebar ul li span {
	float: left;
	padding-right: 10px;
	color: #c3c6cf;
	font-size: 16px;
	line-height: 24px;
}

.sidebar ul li dd {
	float: left;
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

.sidebar.active li a {
	padding: 20px 10px;
	text-align: center;
	font-size: 0.85em;
}

.sidebar.active li span img {
	margin: 0 auto;
	text-align: center;
}

.sidebar.active li span {
	float: none;
	padding-right: 0;
}

.sidebar.active li dd {
	display: none;
}
.activ-plan {
	position: absolute;
	bottom: 28px;
}
.activ-plan p {
	color: #fff;
	font-size: 15px;
}
.activ-plan .plan-acte {
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 15px;
	font-size: 16px;
	font-weight: 400;
	font-family: "Lato", sans-serif;
	display: inline-block;
	margin: 14px 0 0 0;
	border-radius: 4px;
}
.sidebar.active a[aria-expanded="false"]::before,
.sidebar.active a[aria-expanded="true"]::before {
	top: auto;
	bottom: 5px;
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}

.sidebar ul.components {
	padding: 20px 0;
}

.sidebar ul li a {
	padding: 10px;
	display: inline-flex;
	width: 100%;
	align-items: center;
	text-decoration: none;
}

.sidebar ul li.active span,
.sidebar ul li:hover span {
	color: #fff;
}

.sidebar ul li.active,
a[aria-expanded="true"] {
	color: #fff;
}
.sidebar.active .activ-plan,
.sidebar.active .specier-name {
	display: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
	padding: 20px 30px;
	min-height: 100vh;
	transition: all 0.3s;
	width: 100%;
	overflow: hidden;
	background: #f2f3f5;
}

/* ==========================================================================
tab-section
========================================================================== */
.company-detail {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#content h2 {
	color: #000;
	font-size: 30px;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	line-height: 35px;
	padding-bottom: 25px;
	width: 100%;
}
.company-detail .filed-company {
	-ms-flex: 0 0 70%;
	flex: 0 0 70%;
	max-width: 70%;
}
.company-logo {
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;
}
.company-logo .textfield {
	width: 100%;
	height: 120px;
	border: 1px solid #e5e5e5;
	outline: none;
	background: #fff;
	overflow: hidden;
}
.file-upload .file-select .file-select-button i {
	background: #00b4cb;
	padding: 0px 15px;
	line-height: 42px;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
}
.file-select .file-select-name {
	line-height: 40px;
	display: inline-block;
}
.file-select input[type="file"] {
	z-index: 100;
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.form-label {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 26px;
	color: #b9b9c1;
	display: block;
}
.heading-medium {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	font-family: "Lato", sans-serif;
	padding-bottom: 20px;
}

[data-swap-row-wrap] .form-group {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
[data-swap-row-wrap] .sb-delete-row {
	color: #00b4cb;
	padding-left: 10px;
	font-size: 15px;
	cursor: pointer;
}
.sb-row-action {
	color: #00b4cb;
	font-size: 18px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	cursor: pointer;
}
.sb-row-action.sb-row-action--small {
	font-size: 15px;
}
.sb-row-action:hover {
	opacity: 1;
}

/*==========================
member-list
============================= */

.table-data-provider {
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #323232;
	font-family: "Lato", sans-serif;
	width: 100%;
	padding: 0 0px;
}

.table-data-provider tr {
	border-bottom: 1px solid #dadada;
}

.table-data-provider td,
.table-data-provider th {
	padding: 15px 15px;
}
.table-data-provider th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: transparent !important;
	color: #000;
}
.table-data-provider table {
	width: 100%;
}
.table-data-provider thead {
	border-bottom: 2px solid #cc0057;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Lato", sans-serif;
}
.table-data-provider thead th {
	position: relative;
}

a.sort-by:before,
a.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
a.sort-by:before {
	border-bottom-color: #666;
	margin-top: -9px;
}
a.sort-by:after {
	border-top-color: #666;
	margin-top: 1px;
}

.table-data-provider > tbody > tr:nth-child(odd) > td,
.table-data-provider > tbody > tr:nth-child(odd) > th {
	background-color: transparent;
}

/*========invition popup=======*/
.invitation {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.75);
	z-index: 99999;
}
.popup-structure {
	max-width: 700px;
	width: 90%;
	padding: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
	background: #fff;
	height: auto;
}
.popup-structure .popup-close {
	position: absolute;
    top: -40px;
    right: 15px;
    font-size: 60px;
    font-weight: 600;
    cursor: pointer;
    color: #949494;;
}
.popup-structure .popup-close:hover {
	color: #CCC;
	background: none;
	transform: none;
	line-height: 100%;
}
.john-whit .left-cont {
	float: left;
	width: 75%;
}
.john-whit .left-cont h3 {
	color: #000;
	font-size: 35px;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	padding-bottom: 20px;
}
.john-whit .left-cont p {
	font-size: 17px;
	font-family: "Lato", sans-serif;
	line-height: 24px;
	color: #303030;
	padding: 5px 0;
}
.john-whit .right-img {
	float: right;
	width: 100px;
}
.john-whit p {
	font-size: 15px;
	font-family: "Lato", sans-serif;
	line-height: 24px;
	color: #303030;
	width: 100%;
	display: inline-block;
	padding: 20px 0;
}
.john-whit label {
	font-size: 16px;
	font-family: "Lato", sans-serif;
	line-height: 24px;
	color: #303030;
	font-weight: 600;
}
.invite-peop p {
	font-size: 16px;
	line-height: 24px;
	color: #303030;
	margin: 0;
	font-family: "Lato", sans-serif;
}
.invitation-form {
	background: #fff;
	padding: 25px;
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}
/*=========find-offer======*/
.invitation-form.offer {
	margin-top: 0;
}
.invitation-form.offer .flight {
	position: relative;
}
.invitation-form.offer .flight:before {
	position: absolute;
	content: "\f041";
	left: 0;
}
.invitation-form.offer .date label {
	display: inline-block;
}
.invitation-form.offer aside {
	display: inline-block;
	margin-left: 15px;
	color: #000;
	font-size: 16px;
	border-bottom: 2px solid #d0005a;
}
.offer-res {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.offer-res .date {
	flex: auto;
}

.offer-res .time input {
	padding: 0 2px 0 2px !important;
	width: 70px;
	font-size: 13px;
	width: 70px;
	float: left;
}
.offer-res .time-change {
	flex: auto;
}
.time-change .time {
	margin-right: 0;
	float: left;
}
.time-change .time label {
	display: block;
}
.time-change .time input {
	color: #959595 !important;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 40px;
}
.time-change .time.shift {
	margin: 0 0 0 16px;
}
.invitation-form.offer .time.shift select {
	padding: 0 2px 0 2px !important;
	width: 110px;
	font-size: 13px;
}

.offer .pagination {
	display: flex;
	background: #fff;
	margin-top: 25px;
	width: 100%;
	padding: 25px 0;
	border-top: 2px solid #c4c5c7;
	border-bottom: 2px solid #c4c5c7;
}

.offer .pagination a {
	color: #c4c5c7;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.offer .pagination a.active {
	background-color: #cc0057;
	color: #fff;
}
.offer .pagination a.prev {
	color: #17bcdc;
}
.offer .pagination span {
	text-align: center;
	margin: 0 auto;
}
.offer .pagination a.next {
	color: #17bcdc;
	float: right;
}
.activt-sebsert {
	font-size: 18px;
	font-weight: 700;
	color: #000;
	padding: 25px 0;
}
.activt-sebsert a {
	font-size: 18px;
	font-weight: 700;
	color: #000;
	text-decoration: underline;
}

/* Plans & Pricing */
.sb-plans-wrap .sb-plan {
	background: #fff;
	padding: 30px;
	margin: 20px 0;
}
.sb-plan-details-wrap {
	display: flex;
	justify-content: space-between;
}
.sb-plan-details-wrap .sb-plan-price {
	min-width: 120px;
}
.sb-plan-details-wrap .sb-plan-details .sb-plan-title {
	font-size: 18px;
	color: #000;
	font-weight: 700;
	padding-bottom: 10px;
	width: 100%;
}
.sb-plan-details-wrap .sb-plan-details .sb-plan-desc {
	font-size: 16px;
	font-weight: 400;
	font-family: "Lato", sans-serif;
	color: #1d1d1d;
	padding: 0;
	margin-right: 20px;
}
.sb-plan-details-wrap .sb-plan-price h3 {
	font-size: 50px;
	color: #000;
	font-weight: 700;
	line-height: 55px;
	flex: 1;
}
.sb-plans-wrap p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Lato", sans-serif;
	color: #1d1d1d;
	padding-top: 35px;
}
/*-----email-blast-popup------*/
.blasstt p {
	font-size: 17px;
	font-family: "Lato", sans-serif;
	line-height: 24px;
	color: #303030;
	padding: 5px 0;
}
.blasstt h3 {
	color: #000;
	font-size: 35px;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	padding-bottom: 20px;
}
.sub-hom {
	padding-bottom: 30px;
}
.sub-hom li {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px 0;
	border-bottom: 1px solid #c4c4c4;
}
.sub-hom li.mai-heading {
	border-bottom: 2px solid #cd0158;
	margin: 0 0 10px 0;
}
.sub-hom li span {
	display: -ms-flexbox;
	display: block;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex: 0 0 33.3%;
	flex: 0 0 33.3%;
	max-width: 33.3%;
}
.sub-hom li span h5 {
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	color: #303030;
	line-height: 24px;
}
.sub-hom li.mai-heading h5 {
	font-weight: 700;
	font-size: 18px;
}
.sub-hom li .straw input {
	float: left;
	margin-right: 10px;
}

/*--------My-profile-------*/
.profile-detal {
	width: 100%;
	display: inline-block;
}
.profile-detal .file-upload {
	float: right;
	position: relative;
}
.profile-detal .textfield {
	width: 120px;
	height: 120px;
	border: 1px solid #e5e5e5;
	outline: none;
	background: #fff;
	border-radius: 50%;
}
.profile-detal .file-upload .file-select .file-select-button i {
	background: #00b4cb;
	padding: 0px 15px;
	line-height: 42px;
	color: #fff;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
}
.profile-detal .file-select .file-select-name {
	line-height: 120px;
	display: inline-block;
}
.profile-detal .file-select input[type="file"] {
	z-index: 100;
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.profile-detal .file-select .file-select-button {
	position: absolute;
	top: 33%;
	left: -16px;
}

/*=======private-message========*/
.wrapper-chat {
	position: relative;
	left: 50%;
	height: 800px;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.container-left {
	position: relative;
	top: 44%;
	left: 50%;
	width: 100%;
	height: 75%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.container-left .left {
	float: left;
	width: 37.6%;
	height: 100%;
}
.container-left .left .people {
	margin-left: -1px;
	width: calc(100% + 2px);
}
.container-left .left .people .person {
	position: relative;
	width: 100%;
	padding: 12px 10% 16px;
	cursor: pointer;
}
.container-left .left .people .person:after {
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 80%;
	height: 1px;
	content: "";
	background-color: #e6e6e6;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.container-left .left .people .person img {
	float: left;
	width: 53px;
	height: 53px;
	margin-right: 12px;
	border-radius: 50%;
}
.container-left .left .people .person .name {
	font-size: 14px;
	line-height: 22px;
	color: #000;
	font-weight: 600;
}
.container-left .left .people .person .time {
	font-size: 12px;
	position: absolute;
	top: 16px;
	right: 6%;
	padding: 3px;
	color: #fff;
	background-color: #fecd42;
	text-align: center;
	line-height: 10px;
}
.container-left .left .people .person .preview {
	font-size: 14px;
	display: inline-block;
	overflow: hidden !important;
	width: 70%;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #999;
}
.container-left .left .people .person.active,
.container-left .left .people .person:hover {
	background-color: #fff;
}
.container-left .left .people .person.active span,
.container-left .left .people .person:hover span {
	color: #000;
	background: transparent;
}
.container-left .left .people .person.active:after,
.container-left .left .people .person:hover:after {
	display: none;
}
.container-left .right {
	position: relative;
	float: left;
	width: 62.4%;
	background: #fff;
	padding-bottom: 30px;
}

.container-left .right .chat {
	position: relative;
	display: none;
	overflow: hidden;
	padding: 0 35px 30px;
	height: 650px;
	flex-direction: column;
	overflow-y: auto;
}
.container-left .right .chat.active-chat {
	display: flex;
}
.container-left .right .chat.active-chat .bubble {
	transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}
.container-left .right .img-chat {
	float: left;
	width: 40px;
	min-width: 40px;
	height: 40px;
	margin-right: 12px;
	border-radius: 50%;
	overflow: hidden;
}
.container-left .right .img-chat img {
	max-width: 100%;
	height: 40px;
	width: 40px;
}
.container-left .right .write {
	position: relative;
	left: 30px;
	height: 42px;
	padding-left: 8px;
	border: 1px solid #e6e6e6;
	background-color: #eceff1;
	width: calc(100% - 58px);
	border-radius: 5px;
}
.container-left .right .write input {
	font-size: 16px;
	float: left;
	width: 347px;
	height: 40px;
	padding: 0 10px;
	color: #000;
	border: 0;
	outline: none;
	background-color: #eceff1;
	font-weight: 400;
}
.container-left .right .bubble {
	font-size: 16px;
	position: relative;
	display: inline-block;
	clear: both;
	margin-bottom: 8px;
	padding: 13px 14px;
	vertical-align: top;
	border-radius: 5px;
	max-width: 90%;
    word-break: break-all;
}
.container-left .right .bubble:before {
	position: absolute;
	top: 19px;
	display: block;
	width: 8px;
	height: 6px;
	content: "\00a0";
	-webkit-transform: rotate(29deg) skew(-35deg);
	transform: rotate(29deg) skew(-35deg);
}
.container-left .right .bubble.you {
	color: #1a1a1a;
	background-color: #dffbff;
	align-self: flex-start;
}
.container-left .right .bubble.you:before {
	left: -3px;
	background-color: #dffbff;
}
.container-left .right .bubble.me {
	color: #000;
	background-color: #eceff1;
	align-self: flex-end;
}
.container-left .right .bubble.me:before {
	right: -3px;
	background-color: #eceff1;
}
.container-left .right .chat-bbl {
    display: flex;
    flex-direction: row;
}

.container-left .right .client-chat {
	align-self: flex-end;
	flex-direction: row-reverse;
}
.container-left .right .client-chat .img-chat {
	float: right;
	margin-right: 0;
	margin-left: 12px;
}
.container-left .right .conversation-start {
	position: fixed;
	width: 53.4%;
	padding: 25px 0;
	text-align: left;
	border-bottom: 1px solid #ccc;
	z-index: 99;
	background: #fff;
	display: flex;
}
.container-left .right .conversation-start span {
	font-size: 22px;
	display: inline-block;
	color: #000;
	font-weight: 700;
}
[data-swap-button="send-chat"] {
	cursor: pointer;
	color: rgba(0,0,0,0.4);
}
[data-swap-button="send-chat"]:hover {
	color: rgba(0,0,0,0.8);
}

/*=======Faq=========*/
.sb-plans-wrap .faq-sec p {
	font-size: 16px;
	font-weight: 400;
	font-family: "Lato", sans-serif;
	color: #1d1d1d;
	padding-bottom: 25px;
	padding-top: 0;
}
.faq-sec a {
	font-size: 16px;
	font-weight: 400;
	font-family: "Lato", sans-serif;
	color: #1d1d1d;
	text-decoration: underline;
}
.faq-sec a:hover {
	color: #30c1d4;
}
.faq-sec h4 {
	font-weight: 700;
	color: #30c1d4;
	font-size: 22px;
}
.faq-sec ul {
	padding-top: 10px;
}
.faq-sec ol {
	list-style: decimal;
	padding-left: 25px;
}
.faq-sec ol li {
	font-size: 16px;
	font-weight: 400;
	font-family: "Lato", sans-serif;
	color: #1d1d1d;
	position: relative;
	padding-bottom: 25px;
}
.faq-sec ul li {
	font-size: 16px;
	font-weight: 400;
	font-family: "Lato", sans-serif;
	color: #1d1d1d;
	padding-left: 25px;
	padding-bottom: 25px;
	position: relative;
}
.faq-sec ul li:after {
	position: absolute;
	left: 0;
	content: "\f00c";
	color: #c0c3c8;
	font-family: "FontAwesome";
	top: 0;
}
.faq-sec h4.colo-drk {
	color: #cd0158;
	padding-bottom: 15px;
}
.faq-sec h4.colo-blk {
	color: #000;
	padding-bottom: 15px;
}
.table-data-provider.faq {
	padding-bottom: 30px;
	display: inline-block;
}

/*========FAQ POPUP=======*/
.faq-popup {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.75);
	z-index: 99999;
}
.faq-inner {
	max-width: 75%;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(0%, -50%);

	height: 100%;
}
.bg-blufaq {
	background: #00b4cb;
	padding: 50px 25px 0 75px;
	left: 0;
	top: 0;
	width: 40%;
	float: left;
	height: 100%;
}
.whirt-abnser {
	width: 60%;
	padding: 30px;
	float: left;
	background: #fff;
	display: none;
	height: 100%;
}
.faq-popup .popup-close {
	width: 30px;
	height: 30px;
	padding-top: 4px;
	display: inline-block;
	position: absolute;
	top: 45px;
	left: 0px;
	transition: ease 0.25s all;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	font-family: Arial, Sans-Serif;
	font-size: 25px;
	text-align: center;
	line-height: 100%;
	color: #fff;
	text-decoration: none;
}
.faq-question h4 {
	color: #000;
	font-size: 30px;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	line-height: 35px;
	padding-bottom: 25px;
	width: 100%;
}

.dashboardlist {
	height: 900px;
	overflow-y: scroll;
}
.dashboardlist li {
	border-bottom: 1px solid #4dcbda;
	padding: 15px 35px 15px 0px;
	position: relative;
	margin-right: 10px;
}
.dashboardlist li.activeBold a {
	font-weight: 700;
}
.dashboardlist li:after {
	position: absolute;
	right: 12px;
	content: "\f054";
	top: 20px;
	font-family: "FontAwesome";
	color: #fff;
}
.dashboardlist li a {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
.location-detail-sec h4 {
	color: #000;
	font-size: 28px;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	line-height: 35px;
	padding-bottom: 25px;
	width: 100%;
}
.location-detail-sec aside {
	color: #000;
	font-size: 18px;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	line-height: 26px;
	padding-bottom: 20px;
	width: 100%;
}
.location-detail-sec p {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	font-family: "Lato", sans-serif;
	line-height: 26px;
	padding-bottom: 10px;
	width: 100%;
}
#style-3::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #00b4cb;
}

#style-3::-webkit-scrollbar {
	width: 6px;
	background-color: #00b4cb;
	opacity: 0.6;
}

#style-3::-webkit-scrollbar-thumb {
	background-color: #fff;
}